/* 
*{
    margin: 0;
    padding: 0;
}


.form-group{
    margin: 10px 10px 10px 0;
    padding: 10px 10px 10px 0;
}


.zeka{
    width: 200px;
    height: 200px;
    background-color: red;
}
.orxan{
    width: 200px;
    height: 200px;
    background-color: blue;
  

}
h1{
    margin-left: 20px;
}
h2{
    margin-top: 20px;
}
.nuran{
    width: 200px;
    height: 200px;
    background-color: green;

}

 */
/* Yuxaridaki  */
